body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.message-box {
  /* en buyuk div  */
  width: 400px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 25px black;
  display: flex;
  flex-direction: column;
}
#display-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}
#bottom-container {
  border-top: 1px solid black;
  border-radius: 10px;
  margin-bottom: 0;
  padding: 10px;
  background-color: lightgrey;
}
#send-message {
  width: 80%;
  overflow-y: scroll;
  padding: 5px 10px;
  background-color: lightskyblue;
}
#send {
  padding: 5px;
  background-color: rgb(240, 6, 166);
  border-radius: 3px;
  cursor: pointer;
}
#send:hover {
  background-color: lightpink;
  color: white;
}
